<%- include('partials/header'); -%>

<h1>Home</h1>
<p> <%= homeSampleContent %> </p>


<!-- Load posts  -->
<% postsInHome.forEach(function(element) { %>

    <h1> <%= element.postTitle %> </h1>
    <p> <%= element.postBody %> </p>

<% }); %>

<%- include('partials/footer'); -%>
