<%- include('partials/header'); -%>

<h1>Blog post title</h1>
<p> <%= homeSampleContent %> </p>


<!-- Load posts  -->
<% postsInHome.forEach(function(element) { %>

    <h1> <%= element.title %> </h1>
      <!-- Trundate content to 100 characters -->
      <div class="">
        <p> <%= element.text.substring(0, 100) + "..." %> <a href='/posts/<%= element.title %>'>Read more</a> </p>

      </div>

<% }); %>



<%- include('partials/footer'); -%>
